a {
    text-decoration: none;
}

label {
  font-family: "Segoe UI",Arial,sans-serif;
}

.loginLabel {
  font-weight: 300;
  font-size: 28px;
}

.errorLabel {
  color: red;
}

/* Wrapper */
.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  height: 100%;
  background-image: linear-gradient(141deg, #dfd8d9 0%, whitesmoke 71%, white 100%);
}
.content {
  padding:10px;
  height: 100%;
  width: 83%;
  margin-left: 200px;
  background-image: linear-gradient(141deg, #dfd8d9 0%, whitesmoke 71%, white 100%);
}
.contentWrapper {
  overflow-x: scroll;
  overflow-y: scroll;
  height: 80%;
  width: 85%;
  margin-left: 160px;
  background-color: #ffffff;
}

.loaderDiv {
  height: 100%;
  width: 100%;
}


.loginDiv {
  width: 300px;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  padding: 20px;
}

/* Header */
.headerBar {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100px;
  background-color: #ffffff;
}
.headerTitle {
  float: left;
  height: 90%;
  width: 60%;
  margin-left: 20px;
  padding-top: 10px;
  background-color: #ffffff;
}
.titleStyle {
  height: 70%;
  padding-top: 20px;
  padding-left: 20px;
  color: #0a71ab;
  font-size: 30px;
  font-weight: bold;
  border-left: solid #0a71ab;
}
.imgDiv {
  float: left;
  width: 300px;
  height: 100px;
}

/* Sidebar */
.chartBar {
  margin: 10px 0 0 10px;
}
.sidebar {
  float: left;
  width: 200px;
  height: 100%;
  background-image: linear-gradient(141deg, #dfd8d9 0%, whitesmoke 71%, white 100%);
}
.sideItem {
  display: block;
  color: #363636;
  font-size: 20px;
  font-weight: bold;
  font-family: "Segoe UI",Arial,sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 12px;
}
.sideItem:hover {
  color: #0a71ab;
  cursor: pointer; 
  cursor: hand;
}
.sideItem.is-active {
  color:#ffffff;
  background-color: #0a71ab;
}

/* SideContent */

.sideBarContent {
  float:left;
  height: 100%;
  width:150px;
}
.barContentList {
  background-color: #ffffff;
  margin-bottom: 10px;
  padding-left: 10px;
  max-height: 300px;
  overflow-y: scroll;
}
.barContent {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ffffff;
}
.button {
  align-items: center;
  display: inline-flex;
  font-size: 14px;
  height: 32px;
  line-height: 24px;
  position: relative;
  vertical-align: top;
  user-select: none;
  cursor: pointer;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  white-space: nowrap;
  border-width: 0;
  color : white;
}

.button.download {
  background-color: #08AB20;
}

.button.update {
  background-color: #128BDE;
}

.button.logout {
  float: right;
  margin: 40px 10px 0px 0 ;
  background-color: white;
  color: #7a7a7a;
  border: 1px solid #7a7a7a;
}

.button.logout:hover {
  float: right;
  background-color: white;
  color: black;
  border: 1px solid black;
}

.infield {
  margin-top: 5px;
}
.inform {
  margin: 10px 0 10px 0;
}

/* Table */
.cellNumber {
  font-family: monospace;
  text-align: right;
}

.cellText {
  font-family: "Segoe UI",Arial,sans-serif;
}

.headTable {
  text-align: center;
}
.spanRow {
  background-color: #0a71ab;
  color: #ffffff;
}
.spanRow.sub {
  background-color: #7EA0B4;
  color: #ffffff;
}
table { 
  border-collapse: collapse;
}
tr {
  border:1pt solid black;
}
td {
  border:1pt solid black;
  padding: 5px;
}
th {
  border:1pt solid black;
  padding: 5px;
}

.hidden {
  display: none;
}