/* Wrapper */
.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background-image: linear-gradient(141deg, #dfd8d9 0%, whitesmoke 71%, white 100%);
}
.content {
  padding:10px;
  height: 100%;
  width: 100%;
  margin-left: 200px;
  background-image: linear-gradient(141deg, #dfd8d9 0%, whitesmoke 71%, white 100%);
}
.contentWrapper {
  height: 100%;
  width: 100%;
  margin-left: 160px;
}

/* Header */
.headerBar {
  overflow: hidden;
  position: relative;
  height: 100px;
  background-color: #ffffff;
}
.headerTitle {
  height: 90%;
  width: 100%;
  margin-left: 320px;
  padding-top: 10px;
  background-color: #ffffff;
}
.titleStyle {
  height: 70%;
  padding-top: 20px;
  padding-left: 20px;
  color: #0a71ab;
  font-size: 30px;
  font-weight: bold;
  border-left: solid #0a71ab;
}
.headerIcon {
  float: left;
  height: 100%;
  top: 0;
}
.imgDiv {
  max-width: 100%;
  max-height: 100%;
}

/* Sidebar */
.sidebar {
  float: left;
  width: 200px;
  height: 100vh;
  background-image: linear-gradient(141deg, #dfd8d9 0%, whitesmoke 71%, white 100%);
}
.sideItem {
  display: block;
  color: #0a71ab;
  font-size: 20px;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 12px;
}
.sideItem:hover {
  color: #49c3d9;
  cursor: pointer; 
  cursor: hand;
}
.sideItem.is-active {
  color:#ffffff;
  background-color: #49c3d9;
}

/* SideContent */

.sideBarContent {
  float:left;
  height: 100%;
  width:150px;
}
.barContentList {
  background-color: #ffffff;
  margin-bottom: 10px;
}
.barContent {
  padding: 10px;
  background-color: #ffffff;
}
.downloadButton {
  align-items: center;
  display: inline-flex;
  font-size: 14px;
  height: 32px;
  line-height: 24px;
  position: relative;
  vertical-align: top;
  user-select: none;
  cursor: pointer;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  white-space: nowrap;
  background-color: #08AB20;
  border-width: 0;
  color: white;
}
.infield {
  margin-top: 5px;
}
.inform {
  margin-top: 10px;
}
.submitButton {
  align-items: center;
  display: inline-flex;
  font-size: 14px;
  height: 32px;
  line-height: 24px;
  position: relative;
  vertical-align: top;
  user-select: none;
  cursor: pointer;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  white-space: nowrap;
  background-color: #0a71ab;
  border-width: 0;
  color: white;
}

/* Table */
.headTable {
  text-align: center;
}
.spanRow {
  background-color: #0a71ab;
  color: #ffffff;
}
table { 
  border-collapse: collapse; 
  background-color: #ffffff;
}
tr {
  border:1pt solid black;
}
td {
  border:1pt solid black;
  padding: 2px;
}
th {
  border:1pt solid black;
  padding: 5px;
}
tbody.hidden {
  display: none;
}